html, body, #root, .App {
  height: 100%;  
}
.App {  
  background-color: white !important;
}
.App header section {
  padding: 20px;    
  width: 50%;
  color: white;
}
/* Add background color to the body */
body {
  /* background-color: rgba(68, 70, 84, 1.0); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.MuiBox-root .css-10m0cap {
  background-color: transparent !important;
}

.MuiToolbar-root a {
  margin: 10px;
  text-decoration: none;
  color: black !important
}